

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;

}

.logo {
    color: rgb(211, 195, 195);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
*.btn:active,
.btn:focus,
.btn:active:focus,
.btn:focus {
    outline: none !important;
}

button>span {
    color: red;
    font-size: 20px;
}

.btn:active {
    box-shadow: none;
}

.btn:active,
.btn:hover,
.btn:focus {
    background-color: white;
}


