<!-- <head>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6285673d511efb4904087de6"
    type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/4.5.0/boot1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/4.5.0/jasmine-html.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/4.5.0/boot0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/4.5.0/jasmine.min.css">
    <link
    href="https://assets.website-files.com/6285673d511efb4904087de6/62866c388ba4001aeff1cb3f_La%20Bella%20Studio-Logo%20(1).png"
    rel="shortcut icon" type="image/x-icon" />
  <link
    href="https://assets.website-files.com/6285673d511efb4904087de6/62866c409a074c3e5506776e_La%20Bella%20Studio-Logo%20(2).png"
    rel="apple-touch-icon" />
    <link href="https://assets.website-files.com/6285673d511efb4904087de6/css/la-bella-studio.90227272a.min.css"
    rel="stylesheet" type="text/css" />
  <style>
    @media (min-width:992px) {
      html.w-mod-js:not(.w-mod-ix) [data-w-id="d8cce3bf-30c0-d0b1-3935-738789dbf4ce"] {
        -webkit-transform: translate3d(0, 24px, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(10deg, 10deg);
        -moz-transform: translate3d(0, 24px, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(10deg, 10deg);
        -ms-transform: translate3d(0, 24px, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(10deg, 10deg);
        transform: translate3d(0, 24px, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(10deg, 10deg);
        opacity: 0;
      }
    }
  </style>
</head>

<div data-collapse="medium" data-animation="default" data-duration="400"
  data-w-id="88df97de-bae8-9125-6a6a-06eac51105cc" data-easing="ease" data-easing2="ease" role="banner"
  class="navbar w-nav">
  <div class="navigation-wrapper cta">
    <div id="w-node-_88df97de-bae8-9125-6a6a-06eac51105ce-c51105cc" class="navigation-content">
      <div id="w-node-_9f353687-3c84-5f7b-2903-9b104e6982df-c51105cc" class="collection-list-wrapper-8 w-dyn-list">
        <div role="list" class="collection-list-4 w-dyn-items">
          <div role="listitem" class="w-dyn-item"><a href="/" class="w-inline-block">
              <img src="../assets/wfdlogo.jpg" loading="lazy" alt="Logo" class="image-14" /></a>
          </div>
        </div>
      </div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div class="menu-items">
          <a href="recipes" aria-current="page" class="nav-link w-nav-link w--current">Recipes</a>
          <a href="manage" class="nav-link w-nav-link">Manage Recipes</a>
          <a href="favorites-list" class="nav-link w-nav-link">Favorite Meals</a>
        </div>
      </nav>
      <div class="nav-right">
        <a data-w-id="88df97de-bae8-9125-6a6a-06eac51105dd" href="week-display" target="_blank"
          class="nav-button w-inline-block">
          <div class="button-text dark">7 Day Meal Plan</div>
        </a>
        <div class="menu-button w-nav-button">
          <div class="menu-icon-wrapper">
            <img src="https://assets.website-files.com/6285673d511efb4904087de6/62911958f748ce6809b565e7_whitemenu.png"
              loading="lazy" alt="" class="menu-icon" />
          </div>
        </div>
      </div>
    </div>
    <div id="w-node-_88df97de-bae8-9125-6a6a-06eac51105e0-c51105cc" class="nav-cover"></div>
  </div>
  <div style="background-image:url(../assets/wfdimage.jpg)" class="background home"></div> -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <<title>Hello, world!</title>
  </head>
  <body>
    <app-navbar></app-navbar>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

 

  <router-outlet></router-outlet>