<!doctype html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/4.5.0/jasmine.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/4.5.0/boot1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/4.5.0/jasmine-html.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/4.5.0/boot0.js"></script>
</head>

<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body" *ngFor="let Item of Monday">
            <h2 class="card-title">Monday</h2>
                <p class="card-text">
                    <a href="/detail/{{Item.name}}" onClick="localStorage.setItem('Recipe', this.innerHTML)">{{Item.name}}</a>
                    </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body" *ngFor="let Item of Tuesday">
            <h2 class="card-title">Tuesday</h2>
                <p class="card-text">
                    <a href="/detail/{{Item.name}}" onClick="localStorage.setItem('Recipe', this.innerHTML)">{{Item.name}}</a>

                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body" *ngFor="let Item of Wednesday">
            <h2 class="card-title">Wednesday</h2>
                <p class="card-text">
                     <a href="/detail/{{Item.name}}" onClick="localStorage.setItem('Recipe', this.innerHTML)">{{Item.name}}</a>

                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body" *ngFor="let Item of Thursday">
            <h2 class="card-title">Thursday</h2>
                <p class="card-text">
                     <a href="/detail/{{Item.name}}" onClick="localStorage.setItem('Recipe', this.innerHTML)">{{Item.name}}</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body" *ngFor="let Item of Friday">
            <h2 class="card-title">Friday</h2>
                <p class="card-text">
                    <a href="/detail/{{Item.name}}" onClick="localStorage.setItem('Recipe', this.innerHTML)">{{Item.name}}</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
        <div class="card-body" *ngFor="let Item of Saturday">
            <h2 class="card-title">Saturday</h2>
                <p class="card-text">
                   <a href="/detail/{{Item.name}}" onClick="localStorage.setItem('Recipe', this.innerHTML)">{{Item.name}}</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body" *ngFor="let Item of Sunday">
            <h2 class="card-title">Sunday</h2>
                <p class="card-text">
                    <a href="/detail/{{Item.name}}" onClick="localStorage.setItem('Recipe', this.innerHTML)">{{Item.name}}</a>
                </p>
            </div>
            
        </div>
            <button class='btn btn-success' (click)="getRandomRecipes()">What's For Dinner?</button>

    </div>
</div>