<!doctype html>
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">Monday</h5>
            <div class="card-body" *ngFor="let Item of Monday">
                <p class="card-text">{{Item.name}}</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">Tuesday</h5>
            <div class="card-body" *ngFor="let Item of Tuesday">
                <p class="card-text">{{Item.name}}</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">Wednesday</h5>
            <div class="card-body" *ngFor="let Item of Wednesday">
                <p class="card-text">{{Item.name}}</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">Thursday</h5>
            <div class="card-body" *ngFor="let Item of Thursday">
                <p class="card-text">{{Item.name}}</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">Friday</h5>
            <div class="card-body" *ngFor="let Item of Friday">
                <p class="card-text">{{Item.name}}</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">Saturday</h5>
            <div class="card-body" *ngFor="let Item of Saturday">
                <p class="card-text">{{Item.name}}</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">Sunday</h5>
            <div class="card-body" *ngFor="let Item of Sunday">
                <p class="card-text">{{Item.name}}</p>
            </div>
        </div>
        
    </div>
    <button class = 'btn' (click)="getRandomRecipes()">Click</button>
</div>