 .card {
     margin: 30px;
     background-color: white;
     border: 3px solid #f7b801;

     
 }      
 
 .card-text {
     color: darkslategray;
 }
 
 .card-title {
     color: #2f3547;
 }

 .container {
     background-color: white;
 }

 a {
     text-decoration: none;
     color: darkslategray;
 }

 a:hover {
     color: #8BAAAD;
 }