<div class='recipes'>
    <h2>List of Recipes</h2>
    <ol id = 'recipeList' *ngFor = "let recipe of Recipes">
        <br>
        <p><a href="recipe">{{recipe.name}}</a></p>
        <p>description: {{recipe.description}}</p>
        <div>
            <u (click)="toggleTag()">ingredients:</u>
            <p *ngIf="showMe">{{recipe.ingredient}}</p>
        </div>
        <div>
            <u (click)="toggleTag()">instruction:</u>
            <p *ngIf="showMe">{{recipe.instruction}}</p>
        </div>
        <p>cooking time(min): {{recipe.time}}</p>
        <br>
    </ol>
</div>