<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

<div class='recipes'>
    <h2>List of Recipes</h2>
    <div id = 'recipeList' *ngFor = "let recipe of Recipes">
        <br>
        <li><a href="/detail/{{recipe.name}}" onClick="localStorage.setItem('Recipe', this.innerHTML)">{{recipe.name}}</a></li>
        <!-- <p>ingredients: {{recipe.ingredient}}</p>
        <p>instruction: {{recipe.instruction}}</p> -->
        <!-- <p><a href="recipe">{{recipe.name}}</a></p> -->
        <img src={{recipe.image}}>
        <p>description: {{recipe.description}}</p>
        <div>
            <u (click)="toggleTag()">ingredients:</u>
            <p *ngIf="showMe">{{recipe.ingredient}}</p>
        </div>
        <div>
            <u (click)="toggleTag()">instruction:</u>
            <p *ngIf="showMe">{{recipe.instruction}}</p>
        </div>
        <p>cooking time(min): {{recipe.time}}</p>
        <br>
    </div>
    <!-- <router-outlet></router-outlet> -->
</div>

<!-- [routerLink]="['/detail', recipe.name]" -->
<script>
function onClick(link){
    // localStorage.setItem('Recipe', recipe);
    alert(link.innerHTML);
    console.log('I was clicked')
}

</script>