<div class="container">
    <h2>Recipes</h2>
    <div id = 'recipeList' *ngFor = "let recipe of Recipes">
        <br>
        <li><a href="/detail/{{recipe.name}}" onClick="localStorage.setItem('Recipe', this.innerHTML)">{{recipe.name}}</a></li>
        <!-- <p>ingredients: {{recipe.ingredient}}</p>
        <p>instruction: {{recipe.instruction}}</p> -->
        <!-- <p><a href="recipe">{{recipe.name}}</a></p> -->
        <img width="200" height="200" src={{recipe.image}}>
        <p>description: {{recipe.description}}</p>
        <div>
            <u (click)="toggleTag()">ingredients:</u>
            <p *ngIf="showMe">{{recipe.ingredients}}</p>
        </div>
        <div>
            <u (click)="toggleTag()">instruction:</u>
            <p *ngIf="showMe">{{recipe.instructions}}</p>
        </div>
        <p>cooking time(min): {{recipe.time}}</p>
        <br>
    </div>
</div>
<!doctype html>

<!-- [routerLink]="['/detail', recipe.name]" -->
<script>
function onClick(link){
    // localStorage.setItem('Recipe', recipe);
    alert(link.innerHTML);
    console.log('I was clicked')
}

</script>